parameters:
    ignoreErrors:
        - '#PHPDoc tag @var for property Slub\\Mods\\Element\\Xml\\Element::\$values with type array\|false is not subtype of native type array\.#'
        - '#PHPDoc tag @return with type array\|false is not subtype of native type array\.#'
    level: 5
    paths:
        - ../src/
    treatPhpDocTypesAsCertain: false
